<ion-card>
    <ion-item
        lines="none"
        color="primary"
    >
        <ion-icon
            slot="start"
            name="radio-button-on-outline"
        ></ion-icon>
        <ion-title slot="start">{{ task.title}}</ion-title>
        <ion-button
            slot="end"
            fill="clear"
            (click)="menuTask(task)"
        >
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-card-content padding>
        <ion-item lines="none">
            <p>{{task.resume}}</p>
            <ion-toggle
                slot="end"
                color="success"
                [checked]="task.done"
                (ionChange)="done.emit(task)"
                (click)="$event.stopPropagation()"
            ></ion-toggle>
        </ion-item>
    </ion-card-content>


</ion-card>





<!-- <ion-item-sliding #sliding>

  

  <ion-item (click)="update.emit(task)">
    <ion-label>
      {{ task.title }}
    </ion-label>
    <br>
     <p>
       Resumo:
     </p>
     <ion-toggle 
      slot="end" 
      color="primary" 
      [checked]="task.done"
      (ionChange)="done.emit(task)"
      (click)="$event.stopPropagation()"
    ></ion-toggle>
  </ion-item>
  <ion-item-options side="start">
    <ion-item-option 
    color="danger" 
    (click)="delete.emit(task); sliding.close()"
    >
      <ion-icon 
        slot="icon-only" 
        name="trash"
      ></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="update.emit(task); sliding.close()">
      <ion-icon 
        slot="icon-only" 
        name="create"
      ></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding> -->
