ion-label{
    width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word !important;
    white-space: initial !important;
}

ion-icon{
    color: #ffffff;
}

ion-title {
    text-transform: initial !important;
}
